@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}
body{
    background-image: url(../img/container.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.9;
}
header {
    background-color: #091942;
    position: fixed;
    text-align: center;
    height: 80px;
    width: 100vw;
    color: white;
    margin-top: -161px;
}
h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}
p {
    font-family: 'Montserrat', sans-serif;
}
a:link {
    text-decoration: none;
}
a {
    color: white;
    padding: 8px;
}
i {
    font-size: 25px;
    color: white;
    margin-top: 3px;
}

.container {
    width: 60vw;
    height: 100%;
    display: table;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10rem;
    margin-bottom: 5rem;
    background: linear-gradient(90deg, #E1E1E1, #c6efea, #F5F5F5);
    border-radius: 0.5rem;
}
.container .descricao {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
.container .descricao p {
    font-weight: bold;
}
.container .formulario{
    margin: 4px 4px;
    text-align: center;
    padding: 3%;
}
#container {
    width: 170px;
    height: 30px;
    border-radius: 05px;
    font-size: xx-large;
    text-align: center;
    box-shadow: 0 0 0 0;
    border: 0 none;
    flex-grow: 1;
    font-size: 22px;
    outline: none;
}
.btn-copy {
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
#btn-copy {
    /*display: none;*/
    visibility: hidden;
}

.btn-copy .btn-copy-button {
    background: #fff;
    width: 40px;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
}

#btn-copiado {
    position: absolute;
    background-color: #4675D5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: 0;
    margin-top: -70px;
    padding: 3px 10px;
    display: none;
}

#btn-cop {
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #4675D5;
    transform: rotate(45deg);
    margin-top: -45px;
    display: none;
}

#btn-copy .fa-regular:hover {
    opacity: 1;
    transition: 0.7;
}
#btn-copy .fa-regular {
    color: #091942;
    opacity: 0.5;
    background-color: #FFFFFF;
    border: 0;
}

button {
    background-color: #091942;
    color: #fff;
    width: 90px;
    height: 30px;
    border-radius: 05px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    cursor: pointer;
}
button:hover {
    transition: 0.5;
    color: #01BEF4;
}
footer p {
    padding: 3px;
}
footer {
    background-color: #091942;
    text-align: center;
    height: 80px;
    color: white;
    clear: both;  
}

@media screen and (max-width: 426px) { 
    body { 
        font-size: 80%;
     } 
     img {
        width: 100%;
        align-items: center;
     }
     h1 {
        font-size: x-large;
     }
     input {
        font-size: 20px;
    }
    .btn-copy {
        width: 100%;
    }
}
